* {
    padding: 0;
    margin: 0;
}

.header_top {
    width: 100%;
    height: 10vh;
    background-color: #658161;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.info {
    color: #fff;
    display: flex;
    font-size: 16px;
    align-items: center;
    gap: 5px;
}


.sm_container {
    color: white;
    font-size: 20px;
}

.logo_section img {
    width: 154px;
    height: 61px;
}

.logo_section {
    padding-top: 20px;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

ul a {
    text-decoration: none;
    color: #1a1a1a;
    font-size: 18px;
}

.header_nav {
    display: flex;
    gap: 20px;
    list-style: none;
}