* {
    padding: 0;
    margin: 0;
}

.header_top {
    width: 100%;
    height: 10vh;
    background-color: #658161;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.info {
    color: #fff;
    display: flex;
    font-size: 16px;
    align-items: center;
    gap: 5px;
}


.sm_container {
    color: white;
    font-size: 20px;
}

.logo_section img {
    width: 154px;
    height: 61px;
}

.logo_section {
    padding-top: 20px;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

ul a {
    text-decoration: none;
    color: #1a1a1a;
    font-size: 18px;
}

.header_nav {
    display: flex;
    gap: 20px;
    list-style: none;
}


.header_nav li{
    border-bottom: 2px white solid ;
    padding-bottom: 5px;
}

.header_nav li:hover {
    padding-bottom: 5px;
    border-bottom: 2px #658161 solid ;
}

select {
    color: #1a1a1a;
    font-size: 16px;
    outline: none;
    border: none;
    width: 65px;
    background: transparent;
}

option {
    border: none;
    outline: none;
    background: transparent;
}

.about-us-container {
    margin-top: 20px;
    position: relative;
    width: 100%;
    height: 78vh;
    background-image: url(https://assets.nicepagecdn.com/d2cc3eaa/6322200/images/side-view-people-living-healthy-life7-min.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.about-us-text {
    position: absolute;
    top: 150px;
    left: 100px;
    padding-top: 50px;
    padding-left: 40px;
    width: 500px;
    background-color: white;
    border-radius: 30px;
    padding-bottom: 50px;
}

.about-us-text h1 {
    font-size: 60px;
    color: #111111;
}

.about-us-text p {
    font-size: 24px;
    color: #111111;
    width: 481px;
    margin-top: 40px;
    
}

.about-us-text button {
    margin-top: 40px;
    padding: 19px 36px;
    background: none;
    border: 2px solid #658161;
    border-radius: 10px;
    font-size: 16px;
    color: #658161;
    font-weight: bold;
}

.about-us-text button:hover {
    color: white;
    background-color: #658161;
    cursor: pointer;
}
.section_meet{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 694.71px;
}

.meet_img  img {
    width: 380px;
    height: 575px;
    border-radius:10px ;
    animation: meetimgAnim 1.5s ease-out forwards; 
}

@keyframes meetimgAnim {
  0% {
    transform: translateX(-100%);    
  }
  100% {
    transform: translateX(0); 
  }
}
.meet{
    padding: 30px;
    
}
.meet1{
     animation: meetAnim 1.5s ease-out forwards; 
}
@keyframes meetAnim {
  0% {
    transform: translateX(100%);    
  }
  100% {
    transform: translateX(0); 
  }
}

.meet1 h2 {
    font-size: 35px;
    width: 400px;
    padding-top: 40px;
    
}

.meet1 p{
    font-size: 25px;
    width: 700px;
    padding-top: 50px;
}
.meet2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding-top: 60px;
  }

.list {
    padding-top: 50px;
    opacity: 0;
    transform: translateY(100%);
    animation: listAnim 1.2s ease-out 1.5s forwards;
}

@keyframes listAnim {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.list ul li {
    font-size: 20px;
    line-height: 1.8;
}

.meet_box {
    width: 361px;
    height: 300px;
    background-color: #658161;
    color: #D4E2D2;
    border-radius:10px ;
    display: flex;
    flex-direction: column;   
    align-items: center;      
    justify-content: center;
    text-align: center; 

    transform-style: preserve-3d;
    perspective: 1000px;
    opacity: 0;
    transform: rotateX(-90deg);
    animation: meetboxAnim 1.2s ease-out 1.5s forwards;
}

@keyframes meetboxAnim {
    0% {
        opacity: 0;
        transform: rotateX(-90deg);
    }
    60% {
        opacity: 1;
        transform: rotateX(50deg); /* azca artıq dönür */
    }
    100% {
        opacity: 1;
        transform: rotateX(0deg); /* düz vəziyyət */
    }
}

.meet_box img{
   width: 70px;
   padding-bottom: 5px;
    
}
.meet_box p{
    width: 350px;
    padding: 10px;
    font-size: 25px;
}

.container_grow{
 height: 628px;
 display: flex;
 justify-content: center;
 align-items: center;
 height: 628px;
 opacity: 0;
 animation: growAnim 1.5s ease-out forwards;
}
@keyframes growAnim{
    to{
        opacity: 1;
    }
}
.grow_title h2{
    text-align: center;
    font-size: 40px;
    padding-top: 20px;
    opacity: 0;
    animation: growAnim 1.5s ease-out forwards;
}

.grow_all_box{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 30px;
}
.grow_box {
    width: 360px;
    height: 220px;
}
.grow_box p{
    font-size: 20px;
    margin-left: 55px;
    }
.grow_box_title {
    display: flex;
    align-items: center;
    gap:15px;
}
.grow_box_title img{
    width: 40px;
}
.grow_box_title h3{
    font-size: 25px;
}

.container_nutrition {
    background-color: #D4E2D2;
    width: 100%;
    height: 80vh;
}


.nutrition_text h2 {
    font-size: 48px;
    color: #111111;
    text-align: center;
    padding-top: 90px;
}

.nutrition_text p {
    font-size: 18px;
    color: #111111;
    text-align: center;
    margin-top: 10px;
}

.nutrition_card{
    padding-top: 20px;
    width: 270px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
    border-radius: 20px;
}

.number_nut {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #658161;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.nutrition_card h3 {
    font-size: 20px;
    margin-top: 20px;
}

.nutrition_card p {
    margin-top: 35px;
    text-align: center;
    width: 200px;
}


.nutrition_card button {
    padding: 6px 31px;
    background: none;
    border: 2px solid #7c9b78; 
    color: #7c9b78;
    margin-top: 30px;
    border-radius: 10px;
}

.flex_nutritions {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 100px;
}

footer {
    margin-top: 40px;
    padding-top: 70px;
    background-color: #1A1A1A;
    padding-bottom: 90px;
}

.footer_logo_con img {
    width: 200px;
    height: 80px;
}

.footer_logo_con p {
    color: #fff;
    width: 200px;
    margin-top: 35px;
}

.footet_cons h4 {
    padding-bottom: 5px;
    color: #fff;
    font-size: 24px;
    border-bottom: 2px solid #658161;
    width: 200px;
}

.footer_nav li  {
    color: white;
    margin-top: 20px;
    list-style: none;
}

.footer_nav a {
    color: #fff;
}

.footar_inp_con input {
    width: 245px;
    height: 55px;
    font-size: 20px;
    
    outline: none;
}

.footar_inp_con button {
    margin-top: 10px;
    padding: 22px 62px;
    background-color: #658161;
    color: white;
}
.footar_inp_con {
    margin-top: 20px;
    width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_container {
    display: flex;
    justify-content: center;
    gap: 100px;
}